<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retirada </title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  
  <style>
      .azul{
        background-color: #0059b3;
      }
  
    label{
      color: #1a76d8;
      font-weight: bolder;
    }
    </style>
</head>
<body class="bg-light">
  <header class="azul text-center text-white py-4">
      <h1>Retirada</h1>
  </header>

  <section class="container w-50 mt-4 border rounded shadow p-4 mb-5">

         <p class="text-center fw-bolder" id="mensagem-{{retorno}}">{{mensagem}}</p>  
    
        <form action="cFormularioRetirada.php">  
            <p>
              <label for="">Recurso: </label>
              <select  class="selectpicker" data-live-search="true" class="form-select" name="recurso" id="">
              {{recursos}}
              
              </select>
            </p>
            
            <label for="">Retirante: </label>
            <select class="form-select mb-3" name="retirante" id="">
              {{retirante}}

            </select>

              <div class="d-flex align-items-center gap-3 mb-3">
                <label class="m-0" for="">Horário Final:</label>
                <input class="form-control w-auto" type="time" name="hora_final"  id="" value="{{hora_fim}}">
              </div> 

            <div class="d-flex justify-content-between">
              <a href="cMenu.php"><input class="btn btn-secondary" type="button" value="Voltar"></a>

              <input class="btn btn-primary" type="submit" value="Confirmar" name="btnConfirmar"> 
            </div>
              
        </form> 
  </section>

    <div class="text-center">
      <a href="">Cancelar Retirada</a>
    </div>
  

    


</body>
</html>

